#gce-overlay {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 60px;
    z-index: 10;
    margin-left: 60px;
    background-color: white;
}
.main-nav-hover #gce-overlay {
    width: calc(100% - 273px);
    margin-left: 273px;
}
.gce-summary {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 20%, #2cb5e8 34%);
}
.gce-widget {
    margin: 0 9px 20px 9px;
    padding: 11px 15px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    overflow: hidden;
    font-family: 'Open Sans','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.gce-widget-header {
    display: flex;
}
.gce-widget-header div:first-child {
    flex-grow: 1;
}
.gce-widget-profile-image {
    margin: 0px 0px 5px 0px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    overflow: hidden;
}
.gce-widget-identifier {
    height: 26px;
    width: 26px;
    margin-top: 4px;
    line-height: 26px;
    font-size: 16px;
    box-shadow: 0 0 0 1px #ccc;
    text-align: center;
    border-radius: 50%;
    color: #888;
    background: #fafafa;
    margin-right: 11px;
    float: left;
}
.gce-widget h2 {
    margin: 0;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;
}
.gce-widget h4 {
    margin: 5px 0;
    font-size: 22px;
    letter-spacing: 2px;
    white-space: nowrap;
}
.gce-widget-body {
    display: flex;
}
.gce-widget-body div:first-child {
    flex-grow: 1;
}
.gce-widget-description {
    color: #888;
    font-size: 12px;
}
.gce-widget-details {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 10px;
    margin: 5px 0 0 0;
}
.gce-widget-details-value {
    font-weight: 400;
    font-size: 18px;
}
.gce-widget-details-label {
    color: #888;
    font-size: 12px;
    vertical-align: middle;
}